.footerbar {
    bottom: 0;
    position: absolute;
    top: auto;
    height: 50px;
    width: 100%;
    border: 2px black;
}
.dcontent, .list, .footerbar{
    background-image: url("images/money.jpg");
}
.icon {
    width: 15px;
    padding: 0px 2px;
}
h1,h2,h3,h4,h5,p {
    color: white;
}
#members li {
    list-style-type: hiragana;
}
#members li ul li {
    list-style-type: hiragana;
}
#members li ul li a {
    color: black;
}
.img-center {
    display: block;
    margin: 0 auto;
}
table{
    width: 100%;
    text-align: center
        
}

