[data-role=page] {
    height: 100%;
    position: relative;
}
[data-role=footer] {
    bottom: 0;
    position: absolute;
    top: auto;
    width: 100%;
}
.ui-content {
    background-image: url("images/money.jpg");
}
.icon {
    width: 15px;
    padding: 0px 2px;
}
#members li {
    list-style-type: hiragana;
}
#members li ul li {
    list-style-type: hiragana;
}
#members li ul li a {
    text-decoration: none;
    color: black;
}
.img-center {
    display: block;
    margin: 0 auto;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}
table #table1 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
