.footerbar {
    bottom: 0;
    position: absolute;
    top: auto;
    height: 50px;
    width: 100%;
}
.dcontent {
    background-image: url("images/money.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
}
.contacticon {
    width: 15px;
    padding: 0px 2px;
}/*
.menuicon {
    width: 50px;
}*/
.icon {
    width: 50px;
}
h1, h2, h3, h4, h5 {
    text-shadow: 2px 1px 5px red; 
}
#members li {
    list-style-type: hiragana;
}
#members li ul li {
    list-style-type: hiragana;
}
#members li ul li a {
    color: black;
}
.img-center {
    display: block;
    margin: 0 auto;
}
table {
    width: 100%;
    text-align: center
}
      /*  background-repeat:no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position: center;
*/